$first-Color: rgba(16, 92, 87, 1);
$Second-Color: rgba(33, 201, 190, 1);
$Third-Color: rgba(3, 43, 41, 1);
$Fourth-Color: rgba(219, 140, 15, 1);

$Neutral1-Color: rgba(0, 0, 0, 1);
$Neutral2-Color:rgba(255, 255, 255, 1);


$Gray3-Color: rgba(21, 55, 56, 1);
$Gray1-Color: rgba(207, 215, 214, 1);

$Negative_Color3: rgba(2, 31, 29, 1)
