@use "../../Vars_Design/vars" as vars;

.NavBar {
  background-color: vars.$Neutral1-Color;
  display: flex;
  justify-content: center;
  // padding: 2rem 0rem;
}

// evento activo
.NavBar.isActive {
  // width: 100vw;
  height: 100vh;

  @include vars.Desktop {
    height: auto;
  }
}

.NavBar_Container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // padding: 2rem 0rem;

  @include vars.Desktop {
    flex-direction: row;
    border-bottom: 2px solid vars.$Gray3-Color;
    align-items: center;
    justify-content: space-between;
  }
}

.NavBar_link {
  color: vars.$Second-Color;
  @include vars.h4-Tittle();
  align-items: center;
}

.NavBar_Left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 2rem 0;
  border-bottom: 2px solid vars.$Gray3-Color;

  .Navbar_link--Button{
    cursor: pointer;
  }

  @include vars.Desktop {
    flex-direction: row;
    border-bottom: none;

    .Navbar_link--menu {
      display: none;
      
    }
  }
}

.NavBar_Middle {
  flex-direction: column;
  display: none;
  text-align: center;

  .NavBar_Middle_link {
    border-bottom: 2px solid vars.$Gray3-Color;
    padding: 4rem 0rem 4rem 0rem;

    &:hover {
      background-color: vars.$Second-Color;
      color: vars.$Third-Color;
      transition: background-color 0.3s ease, color 0.3s ease,
        padding-left 0.3s ease;
    }
  }

  .NavBar_Middle--LineNone {
    margin-bottom: clamp(2rem, 50%, 4rem);
  }

  @include vars.Desktop {
    width: 60%;
    flex-direction: row;
    justify-content: space-between;

    .NavBar_Middle_link {
      border-bottom: none;
      border-radius: 1rem;
      padding: 1rem 3rem 0.4rem;

      &:hover {
        background-color: vars.$Second-Color;
        color: vars.$Third-Color;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
    }

    .NavBar_Middle--LineNone {
      margin-bottom: 0;
    }
  }
}

// evento activo
.NavBar_Middle.isActive {
  display: flex;
}

.NavBar_Right {
  justify-content: center;
  align-items: center;
  // padding: 1rem 0 1rem 0;
  display: none;

  .NavBar_Right_link {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
  }
}

// evento activo

.NavBar_Right.isActive {
  display: flex;
}
